<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BookKeeper" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=BookKeeperTest;Integrated Security=True;AttachDbFileName = С:\Data\BookKeeper.mdf"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>