<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BookKeeper" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog = BookKeeper;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>