<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BookKeeper" connectionString="data source=(localdb)\MSSQLLocalDB;AttachDbFileName=;Integrated Security=True;"/>
    </connectionStrings>
    <appSettings>
        <add key="ConnectionName" value="BookKeeper"/>
        <add key="ConfigPath" value="C:\Users\Ashym\source\repos\BookKeeper\BookKeeper.UI\bin\Debug\BookKeeper.UI.exe.config"/>
        <add key="BackupPath" value="C:\Users\Ashym\source\repos\BookKeeper\BookKeeper.UI\bin\Debug\Backups"/>
    </appSettings>
</configuration>