<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BookKeeper" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=BookKeeper;Integrated Security=True;AttachDBFilename=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionName" value="BookKeeper" />
    <add key="BackupFolder" value="Backups" />
    <add key="BackupFileTemplate" value="{0}.bak" />
    <add key="DefaultPrice" value="166" />
    <add key="DefaultPaymentDate" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MunicipalMark" value="5" />
    <add key="AccountLength" value="8" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>