<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BookKeeper" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=BookKeeperTest;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="ConnectionName" value="BookKeeper" />
    <add key="BackupFolder" value="Backups"/>
    <add key="BackupFileTemplate" value="{0}.bak"/>
    <add key="DefaultPrice" value="166"/>
    <add key="DefaultPaymentDate" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

</configuration>